@import '../../scss/variables.scss';

.about {
}

.about__main {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  width: 1440px;
  background: #0f1112;
  padding-top: 30px;
  margin-top: 30px;
}
