.match-markets-item {
  margin-bottom: 7px;
  &__wrapper {
  }

  &__market-name {
    background-color: #383f45;
    border-radius: 4px;
    padding: 8px 0 8px 12px;
    margin-bottom: 8px;
    font-weight: 500;
    color: #fff;
    opacity: 0.5;
    cursor: pointer;
  }

  &__events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
