@import '../../scss/variables.scss';

.match-list {
  &__categories-wrapper {
    margin: 10px 0 10px 0;
  }

  &__sort-wrapper {
    margin-bottom: 5px;
  }

  &__sort {
  }

  &__sort-types {
    list-style: none;
  }

  &__sort-type {
  }

  &__items {
  }

  &__item-wrapper {
    margin-bottom: 5px;
  }
}
