.profile__section {
  padding: 0 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  height: 130px;
  background-color: lighten($color: #2c3134, $amount: 5);

  &__title {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    transition: 0.3s ease-in-out;
  }

  &__info {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__action-btn {
  }
}
